<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Temp Guesser</title>
</head>

<style>
    #box {
  border-radius: 25px;
  background: yellow;
  padding: 20px;
  width: 400px;
  height: 300px;
  margin: auto;
  font-family: helvetica;
  text-align: center;
  font-size: larger;
}

    </style>
    <div id = "box"> 
        You guessed <%- guess %> degrees (F) <br>for <%- city %>. <br><br>
        <a href="/results">See Results</a> <a href="/game">Continue</a>
    </div>
</div>
</html>
