
<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Temp Guesser</title>
</head>
<style>
    #box {
  border-radius: 25px;
  background: red;
  padding: 20px;
  width: 400px;
  height: 300px;
  margin: auto;
  font-family: helvetica;
  text-align: center;
  font-size: larger;
}
.txt {
    text-align: center;
  font-family: helvetica;
}

    </style>

<div id = "box"> 
	<h1>Welcome!</h1>
	You will be shown a weather forecast for a location, but you must guess the temperature (in Fahrenheit).
</div>
<br>
<div class = "txt">
    <a href="/game">Play</a></div>
</html>